<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="shortcut icon" href="/static/rsc/Logo.png" type="image/x-icon">

    <!--Bootstrap CDN (CSS, JS, Popper, jQuery)-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky-footer.css')}}">

    <!--Custom JS-->
    <script src="{{url_for('static', filename='js/footer.js')}}"></script>
    <script src="{{url_for('static', filename='js/about.js')}}"></script>

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="/static/rsc/Logo.png" alt="Logo" style="width: 50px">&nbsp; goodbooksfor.me
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Content-->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1> About </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center pt-2" style="width:300px; margin:auto; height:auto">
                        <img class="card-img-top img-fluid" src="/static/rsc/Vanessa.jpg" alt="Vanessa"
                            style="width:245px; height:325px; display:block; margin:auto">
                        <h5 class="text-center"> Vanessa Alexandra </h5>
                        <p> <b> Frontend Engineer </b><br /> Senior biochemistry major who loves baking, traveling, and
                            musicals. </p><br />
                    </div>
                    <br />
                </div>
                <div class="col-md-4">
                    <div class="card text-center pt-2" style="width:300px; margin:auto; height:auto">
                        <img class="card-img-top img-fluid" src="/static/rsc/Wade.jpg" alt="Wade"
                            style="width:245px; height:325px; display:block; margin:auto">
                        <h5 class="text-center"> Wade Bribach </h5>
                        <p> <b> Frontend Engineer </b><br /> Third year Arts and Entertainment Technologies Major at The
                            University of Texas at Austin. </p>
                    </div>
                    <br />
                </div>
                <div class="col-md-4">
                    <div class="card text-center pt-2" style="width:300px; margin:auto; height:auto">
                        <img class="card-img-top img-fluid" src="/static/rsc/Jorge.jpg" alt="Jorge"
                            style="width:245px; height:325px; display:block; margin:auto">
                        <h5 class="text-center"> Jorge Caviedes </h5>
                        <p> <b> Backend Engineer </b><br /> Junior mathematics major who likes tennis and loves music.
                        </p><br />
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-md-4">
                    <div class="card text-center pt-2" style="width:300px; margin:auto; height:auto">
                        <img class="card-img-top img-fluid" src="/static/rsc/Michael.jpg" alt="Michael"
                            style="width:245px; height:325px; display:block; margin:auto">
                        <h5 class="text-center"> Michael Gurch </h5>
                        <p> <b> Backend Engineer </b><br /> Sophomore double major in MIS and Japanese who loves coding,
                            skiing, and reading.</p>
                    </div>
                    <br />
                </div>
                <div class="col-md-4">
                    <div class="card text-center pt-2" style="width:300px; margin:auto; height:auto">
                        <img class="card-img-top img-fluid" src="/static/rsc/Vincent.jpg" alt="Vincent"
                            style="width:245px; height:325px; display:block; margin:auto">
                        <h5 class="text-center"> Vincent Truong </h5>
                        <p> <b> Frontend Engineer </b><br /> Senior neuroscience major who enjoys video games and anime.
                        </p><br />
                    </div>
                    <br />
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <h4>Gitlab</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-lg h-100 text-center text-lg-center my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="https://gitlab.com/codingking5/cs329e-idb/issues">Issues</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="https://gitlab.com/codingking5/cs329e-idb">Repo</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="https://gitlab.com/codingking5/cs329e-idb/wikis/">Wiki</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a
                                    href="https://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Data
                                    Source</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped" style="width:80%; margin:auto">
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Commits </th>
                            <th> Issues </th>
                            <th> Unit Tests </th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row ">Vanessa Alexandra</th>
                        <td id="r1c1">14</td>
                        <td id="r1c2">6</td>
                        <td id="r1c3">0</td>
                    </tr>
                    <tr>
                        <th scope="row ">Wade Bribach</th>
                        <td id="r2c1">5</td>
                        <td id="r2c2">3</td>
                        <td id="r2c3">0</td>
                    </tr>
                    <tr>
                        <th scope="row ">Jorge Caviedes</th>
                        <td id="r3c1">5</td>
                        <td id="r3c2">2</td>
                        <td id="r3c3">0</td>
                    </tr>
                    <tr>
                        <th scope="row ">Michael Gurch</th>
                        <td id="r4c1">7</td>
                        <td id="r4c2">3</td>
                        <td id="r4c3">0</td>
                    </tr>
                    <tr>
                        <th scope="row ">Vincent Truong </th>
                        <td id="r5c1">11</td>
                        <td id="r5c2">3</td>
                        <td id="r5c3">0</td>
                    </tr>
                    <tr>
                        <th scope="row ">Total </th>
                        <td id="commitsTotal">#</td>
                        <td id="issuesTotal">#</td>
                        <td id="unitTests">#</td>
                    </tr>
                    <script>
                        window.addEventListener("load", function () {
                            totalTable();
                        });
                    </script>
                </table>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h4>Tools Used</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">Slack</li>
                        <li class="list-group-item">HTML</li>
                        <li class="list-group-item">Google Cloud Platform</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">CSS/Bootstrap</li>
                        <li class="list-group-item">JavaScript</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">Python/Flask</li>
                        <li class="list-group-item">Google Developer Console</li>

                    </ul>
                </div>
            </div>
    </main>

    <!--Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-4">
                <div class="col-lg h-100 text-center text-lg-center my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="{{url_for('about')}}">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('terms')}}">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('privacy')}}">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0" id="currentDate"></p>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; goodbooksfor.me <span id="currentYear">2019</span>.
                        All Rights Reserved.</p>
                    <script>
                        window.addEventListener("load", function () {
                            currentDate();
                            currentYear();
                        });
                    </script>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>