<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>goodbooksfor.me</title>
    <link rel="shortcut icon" href="/static/rsc/Logo.png" type="image/x-icon">

    <!--Bootstrap CDN (CSS, JS, Popper, jQuery)-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky-footer.css')}}">

    <!--Custom JS-->
    <script src="{{url_for('static', filename='js/footer.js')}}"></script>

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="/static/rsc/Logo.png" alt="Logo" style="width: 50px">&nbsp; goodbooksfor.me
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Content-->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1> Books </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 pl-5">
                    <div class="card" style="width:12em">
                        <a href="{{url_for('HPSorcererStone')}}">
                            <img class="card-img-top img-fluid"
                                src="https://books.google.com/books/content/images/frontcover/wrOQLV6xB-wC?fife=w500"
                                alt="SorcererStone" style="width:200px; height:250px; display:block; margin:auto">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 pl-5">
                    <div class="card" style="width:12em">
                        <a href="{{url_for('AnimalFarm')}}">
                            <img class="card-img-top img-fluid"
                                src="https://books.google.com/books/content/images/frontcover/huZBDAAAQBAJ?fife=w500 "
                                alt="AnimalFarm" style="width:200px; height:250px; display:block; margin:auto">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 pl-5">
                    <div class="card" style="width:12em">
                        <a href="{{url_for('TKMB')}}">
                            <img class="card-img-top img-fluid"
                                src=" https://books.google.com/books/content/images/frontcover/-D8WBAAAQBAJ?fife=w500"
                                alt="TKMB" style="width:200px; height:250px; display:block; margin:auto">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-4">
                <div class="col-lg h-100 text-center text-lg-center my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="{{url_for('about')}}">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('terms')}}">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('privacy')}}">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0" id="currentDate"></p>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; goodbooksfor.me <span id="currentYear">2019</span>.
                        All Rights Reserved.</p>
                    <script>
                        window.addEventListener("load", function () {
                            currentDate();
                            currentYear();
                        });
                    </script>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
