<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Private Policy</title>
    <link rel="shortcut icon" href="/static/rsc/Logo.png" type="image/x-icon">

    <!--Bootstrap CDN (CSS, JS, Popper, jQuery)-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky-footer.css')}}">

    <!--Custom JS-->
    <script src="{{url_for('static', filename='js/footer.js')}}"></script>

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="/static/rsc/Logo.png" alt="Logo" style="width: 50px">&nbsp; goodbooksfor.me
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Content-->
    <main>
        <div class="container">
            <div class="row">
                <div class="col text-center mb-3">
                    <h1>Private Policy</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>Information that is gathered from visitors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    In common with other websites, log files are stored on the web server saving details such as the
                    visitor's IP address, browser type, referring page and time of visit. <br>

                    Cookies may be used to remember visitor preferences when interacting with the website. <br>

                    Where registration is required, the visitor's email and a username will be stored on the server.
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>How the Information is used</h3>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    The information is used to enhance the vistor's experience when using the website to display
                    personalised content and possibly advertising. <br>

                    E-mail addresses will not be sold, rented or leased to 3rd parties. <br>

                    E-mail may be sent to inform you of news of our services or offers by us or our affiliates. <br>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>Visitor Options</h3>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    If you have subscribed to one of our services, you may unsubscribe by following the instructions
                    which are included in e-mail that you receive. <br>

                    You may be able to block cookies via your browser settings but this may prevent you from access to
                    certain features of the website. <br>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>Cookies</h3>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    Cookies are small digital signature files that are stored by your web browser that allow your
                    preferences to be recorded when visiting the website. Also they may be used to track your return
                    visits to the website. <br>

                    3rd party advertising companies may also use cookies for tracking purposes. <br>
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-4">
                <div class="col-lg h-100 text-center text-lg-center my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="{{url_for('about')}}">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('terms')}}">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('privacy')}}">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0" id="currentDate"></p>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; goodbooksfor.me <span id="currentYear">2019</span>.
                        All Rights Reserved.</p>
                    <script>
                        window.addEventListener("load", function () {
                            currentDate();
                            currentYear();
                        });
                    </script>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>