<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms of Use</title>
    <link rel="shortcut icon" href="/static/rsc/Logo.png" type="image/x-icon">

    <!--Bootstrap CDN (CSS, JS, Popper, jQuery)-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky-footer.css')}}">

    <!--Custom JS-->
    <script src="{{url_for('static', filename='js/footer.js')}}"></script>

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="/static/rsc/Logo.png" alt="Logo" style="width: 50px">&nbsp; goodbooksfor.me
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Content-->
    <main>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Terms of Use</h1>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    goodbooksfor.me offers this Web site, including all information, software, products and services
                    available from this Web site or offered as part of or in conjunction with this Web site
                    (“goodbooksfor.me”), to you, the user, conditioned upon your acceptance of all of the terms,
                    conditions, policies and notices stated here. goodbooksfor.me reserves the right to make changes to
                    these Terms and Conditions immediately by posting the changed Terms and Conditions in this location.
                    <br><br>

                    Your continued use of the Web site constitutes your agreement to all such terms, conditions and
                    notices, and any changes to the Terms and Conditions made by goodbooksfor.me. <br><br>

                    The term ‘goodbooksfor.me’ or ‘us’ or ‘we’ refers to the owner of the website. The term ‘you’ refers
                    to the user or viewer of our website. <br><br>

                    The use of this website is subject to the following terms of use: <br><br>

                    Use the website at your own risk. This website is provided to you “as is,” without warranty of any
                    kind either express or implied. Neither goodbooksfor.me nor its employees, agents, third-party
                    information providers, merchants, licensors or the like warrant that the Web site or its operation
                    will be accurate, reliable, uninterrupted or error-free. No agent or representative has the
                    authority to create any warranty regarding the Web site on behalf of goodbooksfor.me.
                    goodbooksfor.me reserves the right to change or discontinue at any time any aspect or feature of the
                    Web site.
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>Exclusion of Liability</h3>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    The content of the pages of this website is for your general information and use only. It is subject
                    to change without notice. <br><br>

                    Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,
                    performance, completeness or suitability of the information and materials found or offered on this
                    website for any particular purpose. You acknowledge that such information and materials may contain
                    inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the
                    fullest extent permitted by law.
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>Indemnification</h3>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    Your use of any information or materials on this website is entirely at your own risk, for which we
                    shall not be liable. It shall be your own responsibility to ensure that any products, services or
                    information available through this website meet your specific requirements. <br><br>

                    This website contains material which is owned by or licensed to us. This material includes, but is
                    not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other
                    than in accordance with the copyright notice, which forms part of these terms and conditions.
                    <br><br>

                    All trade marks reproduced in this website which are not the property of, or licensed to, the
                    operator are acknowledged on the website. <br><br>

                    Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.
                    <br><br>

                    From time to time this website may also include links to other websites. These links are provided
                    for your convenience to provide further information. They do not signify that we endorse the
                    website(s). We have no responsibility for the content of the linked website(s).
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3>Copyright</h3>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    Except for material in the public domain under United States copyright law, all material contained
                    on the Web site (including all software, HTML code, Java applets, Active X controls and other code)
                    is protected by United States and foreign copyright laws. Except as otherwise expressly provided in
                    these terms and conditions, you may not copy, distribute, transmit, display, perform, reproduce,
                    publish, license, modify, rewrite, create derivative works from, transfer, or sell any material
                    contained on the Web site without the prior consent of the copyright owner. <br><br>

                    None of the material contained on goodbooksfor.me may be reverse-engineered, disassembled,
                    decompiled, transcribed, stored in a retrieval system, translated into any language or computer
                    language, retransmitted in any form or by any means (electronic, mechanical, photo reproduction,
                    recordation or otherwise), resold or redistributed without the prior written consent of
                    goodbooksfor.me. Violation of this provision may result in severe civil and criminal penalties.
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-4">
                <div class="col-lg h-100 text-center text-lg-center my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="{{url_for('about')}}">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('terms')}}">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('privacy')}}">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0" id="currentDate"></p>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; goodbooksfor.me <span id="currentYear">2019</span>.
                        All Rights Reserved.</p>
                    <script>
                        window.addEventListener("load", function () {
                            currentDate();
                            currentYear();
                        });
                    </script>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>